{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>3EGames</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="500ms">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="base.html"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                        </div>

                        <!-- Search & Login Area -->
                        <div class="search-login-area d-flex align-items-center">
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form action="#" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="搜索">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>

                            {% block userInfo %}
                                {% if request.user.username %}

                                    <div class="comment-author">
                                        <img src="{{ request.user.avater.url }}" alt="author">
                                    </div>
                                    <div class="login-area">
                                        <a href="{% url 'article:logout' %}"><span>退出登入</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="login-area">
                                        <a href=""><span>个人信息</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                                    </div>
                                {% else %}
                                    <!-- Login Area -->
                                    <div class="login-area">
                                        <a href="{% url 'article:register' %}"><span>注册</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="login-area">
                                        <a href="{% url 'article:login' %}"><span>登入</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                                    </div>
                                {% endif %}
                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航栏区域 -->
        <div class="egames-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="egamesNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'article:index' %}">主页</a></li>
                                    <li><a href="game-review.html">排行榜</a>
                                        <ul class="dropdown">
                                            <li><a href="game-review.html">热门评论</a></li>
                                            <li><a href="single-game-review.html">热门推荐</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">页面</a>
                                        <ul class="dropdown">
                                            <li><a href="base.html">首页</a></li>
                                            <li><a href="post.html">文章</a></li>
                                            <li><a href="single-post.html">单篇文章</a></li>
                                            <li><a href="game-review.html">游戏评论</a></li>
                                            <li><a href="single-game-review.html">单机游戏评论</a></li>
                                            <li><a href="{% url 'article:contact' %}">联系我们</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="post.html">游戏推荐</a>
                                        <ul class="dropdown">
                                            <li><a href="post.html">网络游戏</a></li>
                                            <li><a href="single-post.html">单机单机游戏</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="single-game-review.html">游戏图库</a>
                                        <ul class="dropdown">
                                            <li><a href="game-review.html">网络游戏</a></li>
                                            <li><a href="single-game-review.html">单机游戏</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'article:contact' %}">联系我们</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Top Social Info -->
                        <div class="top-social-info">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->





    <!-- ##### 首页推荐游戏 Start ##### -->
    {% block recommend %}{% endblock %}
    <!-- ##### Hero Area End ##### -->






    <!-- ##### 游戏平台 ##### -->
    {% block gameplat %}{% endblock %}
    <!-- ##### Games Area End ##### -->






    <!-- ##### 每月游戏精选 Start ##### -->
    {% block gameselect %}{% endblock %}
    <!-- ##### Monthly Picks Area End ##### -->





    <!-- ##### 游戏视频 Start ##### -->
    {% block gameviedo %}{% endblock %}
    <!-- ##### Video Area End ##### -->






    <!-- ##### 最新游戏文章 Start ##### -->
    {% block gamearticle %}{% endblock %}
    <!-- ##### Articles Area End ##### -->



    <!-- 游戏详情页 -->
    {% block gamedetail %}{% endblock %}


    <!-- 文章详情页 -->
    {% block gamepost %}{% endblock %}


    <!-- 游戏分类-->
    {% block gamecategory %}{% endblock %}



    <!-- 文章分类 -->
    {% block postcategory %}{% endblock %}



    <!-- 留言信息 -->
    {% block contact %}{% endblock %}


    <!-- 用户注册 -->
    {% block register  %}{% endblock %}


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="100ms">
                            <div class="widget-title">
                                <a href="base.html"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>
                            </div>
                            <div class="widget-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur diam ut interdum ultricies.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="300ms">
                            <div class="widget-title">
                                <h4>游戏评论</h4>
                            </div>
                            <div class="widget-content">
                                <nav>
                                    <ul>
                                        <li><a href="#">Doom</a></li>
                                        <li><a href="#">Grand Theft Auto</a></li>
                                        <li><a href="#">Bloodborne</a></li>
                                        <li><a href="#">God of war</a></li>
                                        <li><a href="#">Persona 5</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="500ms">
                            <div class="widget-title">
                                <h4>有用的链接</h4>
                            </div>
                            <div class="widget-content">
                                <nav>
                                    <ul>
                                        <li><a href="#">Testimanials</a></li>
                                        <li><a href="#">评论</a></li>
                                        <li><a href="#">新游戏</a></li>
                                        <li><a href="#">论坛</a></li>
                                        <li><a href="#">联系</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="700ms">
                            <div class="widget-title">
                                <h4>有什么新鲜事</h4>
                            </div>
                            <div class="widget-content">
                                <nav>
                                    <ul>
                                        <li><a href="#">Doom</a></li>
                                        <li><a href="#">Grand Theft Auto</a></li>
                                        <li><a href="#">Bloodborne</a></li>
                                        <li><a href="#">God of war</a></li>
                                        <li><a href="#">Persona 5</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-sm-5">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text"><a href="#">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> - Colorlib All rights reserved | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>

</p>
                    </div>
                    <div class="col-12 col-sm-7">
                        <!-- Footer Nav -->
                        <div class="footer-nav">
                            <ul>
                                <li><a href="base.html">主页</a></li>
                                <li><a href="game-review.html">游戏</a></li>
                                <li><a href="post.html">文章</a></li>
                                <li><a href="single-game-review.html">评论</a></li>
                                <li><a href="contact.html">联系</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>